<div id="divregistro" class="banner col-md-7 col-md-offset-2" ng-controller="HomeController">
    <h1>Registrar</h1>
    <div class="row">
      <div class="logoRegistro col-md-offset-4">
      <img src="../img/logo.png" alt="logo" height="160px">
    </div>
      <form class="form-inline">
        <label class="col-lg-4 col-lg-offset-1 registroLabel">Primer nombre  </label>
        <input id="nombreC" type="text" class=" form-control inputRegistro"  ng-model="user.name">
      </form>
      <form class="form-inline">
        <label class="col-lg-4 col-lg-offset-1 registroLabel">Contraseña  </label>
        <input id="contrasena" type="password" class=" form-control inputRegistro"  ng-model="user.password">
      </form>
      <a href="#" class="buttonSpecial col-md-8 col-md-offset-2" ng-click="postUser()">Crear cuenta</a>
    </article>
  </div>
</div>

</div>
